<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><Mappings><Mapping-Name>Slatwall</Mapping-Name><Location>\\DEVSERVER\wwwroot\muradev\plugins\Slat_54</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>