div#SlatwallToolbar ul.MainToolbar 							{z-index:505;}
div#SlatwallToolbar ul.MainToolbar li.LogoSearch img		{z-index:2;}

div#SlatwallToolbar 									{position:absolute fixed; bottom:0px; left:0px; width:100%; height:30px; float:left;}

div#SlatwallToolbar ul li								{display:inline-block; float:left; height:40px;}
div#SlatwallToolbar ul.MainToolbar 						{position:fixed;bottom:0px;left:0px;width:100%;height:40px;background: transparent url(../images/toolbar/toolbar_bg.png) repeat-x bottom left;}
div#SlatwallToolbar ul.MainToolbar li.LogoSearch 		{position:relative; height:40px; width:260px;}
div#SlatwallToolbar ul.MainToolbar li.LogoSearch img	{position:absolute; height:40px; width:50px; top:0px; left:10px; cursor:hand; cursor:pointer;}
div#SlatwallToolbar ul.MainToolbar li.LogoSearch input	{position:absolute; height:18px; width:200px; top:18px; left:40px; text-align:right;}
div#SlatwallToolbar ul.MainToolbar li a								{position:relative;margin-top:18px;display:inline-block;padding:2px 15px 2px 15px;color:#333333; font-size:11px; border-left:1px solid #cccccc; }
div#SlatwallToolbar ul.MainToolbar li a:hover						{color:#111111;text-decoration:underline;}

div#SlatwallToolbar ul.MainMenu							{display:none; position:fixed; bottom:0px; width:270px;}
div#SlatwallToolbar ul.MainMenu li						{display:block; float:none; background: transparent url(../images/toolbar/toolbar_menu_bg.png) repeat-y top left;}
div#SlatwallToolbar ul.MainMenu li.MenuTop				{height:10px; background: transparent url(../images/toolbar/toolbar_menu_top.png) no-repeat top left;}
div#SlatwallToolbar ul.MainMenu li.MenuBottom			{height:110px;}
div#SlatwallToolbar ul.MainMenu li a					{display:block; font-size:14px; font-weight:bold; color:#333;padding:10px 20px 10px 20px; border-bottom:1px solid #cdcdcd; width:217px;}
div#SlatwallToolbar ul.MainMenu li a:hover				{background-color:#efefef;}

div#SlatwallToolbar ul.MainMenu li div.MenuSubOne		{display:none; width:200px;padding:20px;}
div#SlatwallToolbar ul.MainMenu li:hover div.MenuSubOne	{display:block;}

div#SlatwallToolbar ul.MainMenu li div.MenuSubOne					{position:relative;left:258px;top:-40px;background-color:#333333;}
div#SlatwallToolbar ul.MainMenu li div.MenuSubOne ul				{width:auto;height:1000px;}
div#SlatwallToolbar ul.MainMenu li div.MenuSubOne ul li				{background:none; width:auto; height:auto;}
div#SlatwallToolbar ul.MainMenu li div.MenuSubOne ul li a			{color:#cdcdcd; width:auto; font-size:12px; padding:5px;}
div#SlatwallToolbar ul.MainMenu li div.MenuSubOne ul li a:hover		{background:none;color:#ffffff;}